<!doctype html>
<html class="h-100">

<head>
  <title>json.fun | Fun with JSON</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/xcode.min.css">
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue/2.3.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <style>
    .pointer { cursor: pointer; }
    .monospace { font-size: 0.8em; font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }
    .relative { position: relative; }
    .top-right { position: absolute; top: 0; right: 0; }
  </style>
</head>

<body class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100" id="json-formatter">
      <div class="col-md-4 col-12 py-3 pr-md-2 h-100 d-flex flex-column">
        <textarea class="form-control monospace h-100"
                  :class="{ 'is-invalid': hasError }"
                  placeholder="json here"
                  v-model="input"
                  ref="input"></textarea>
        <div class="mt-2 text-center">
          {{ input.length }} characters
        </div>
      </div>
      <div class="col-md-8 col-12 py-3 pl-md-2 h-100">
        <formatted-output :formatted="formatted"
                          :error="hasError"
                          v-if="formatted">
        </formatted-output>
        <div class="px-md-5 py-3" v-else>
          <p>
            <strong>JSON</strong> (JavaScript Object Notation) is a lightweight data-interchange format.
            It is easy for humans to read and write.
            It is easy for machines to parse and generate.
            It is based on a subset of the JavaScript Programming Language, Standard ECMA-262 3rd Edition - December 1999.
            JSON is a text format that is completely language independent but uses conventions that are familiar to programmers of the C-family of languages, including C, C++, C#, Java, JavaScript, Perl, Python, and many others.
            These properties make JSON an ideal data-interchange language.
          </p>
          <p>
            JSON is built on two structures:
          </p>
          <ul>
            <li>A collection of name/value pairs. In various languages, this is realized as an object, record, struct, dictionary, hash table, keyed list, or associative array.</li>
            <li>An ordered list of values. In most languages, this is realized as an array, vector, list, or sequence.</li>
          </ul>
          <p>
            These are universal data structures.
            Virtually all modern programming languages support them in one form or another.
            It makes sense that a data format that is interchangeable with programming languages also be based on these structures.
          </p>
          <p class="text-right">
            <span class="text-secondary">—</span>
            <a href="http://json.org" target="_blank">json.org</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-template" id="formatted-output">
    <div class="h-100 d-flex flex-column">
      <div class="card h-100 pointer"
           @mouseover="showNotification = true"
           @mouseout="showNotification = false"
           @click="copy">
        <div class="card-body h-100 relative">
          <pre class="h-100 monospace"><code v-if="error">{{ highlighted }}</code><code v-else v-html="highlighted"></code></pre>
          <textarea style="display: none;" v-model="formatted" ref="buffer"></textarea>
          <div class="top-right mr-5 mt-3 fade d-none d-md-block" :class="{ 'show': showNotification }">
            {{ notification }}
          </div>
        </div>
      </div>
      <div class="mt-2 text-center">
        {{ formatted.length }} characters
      </div>
    </div>
  </script>

  <script type="text/x-template" id="table-output">
    <table class="table" v-if="items">
      <thead>
        <tr>
          <th></th>
          <th v-for="key in allKeys">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <table-row v-for="(item, index) in items"
          :item="item"
          :index="index"
          :keys="allKeys"></table-row>
      </tbody>
    </table>
  </script>

  <script type="text/x-template" id="table-output-row">
    <tr>
      <th>
        {{ index }}
        ({{ typeName }}<span v-if="isPrimitive"> = {{ item }}</span>)
      </th>
      <value-cell v-for="key in keys" :item="item" :value-key="key"></value-cell>
    </tr>
  </script>

  <script src="src/formatter.js"></script>
  <script src="src/formatted-output.js"></script>
  <script src="src/app.js"></script>
</body>

</html>
