@import "bootstrap/dist/css/bootstrap.css";
@import "highlight.js/styles/xcode.css";

.pointer {
    cursor: pointer;
}
.monospace {
    font-size: 0.8em;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.relative {
    position: relative;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.overflow-auto {
    overflow: auto;
}
textarea {
    resize: none;
}

.v-enter-active {
    transition: all .3s ease;
}
.v-leave-active {
    transition: all .3s ease;
}
.v-enter, .v-leave-to {
    opacity: 0;
}