@import "tachyons/css/tachyons.css";
@import "highlight.js/styles/obsidian.css";

.link:focus {
    outline: none;
}
textarea {
    resize: none;
}
textarea.b--red:focus {
    outline-color: #ff4136;
}

.bg-obsidian-dark-gray {
    background: rgb(40, 43, 46);
}
.obsidian-gray {
    color: #e0e2e4;
}
.obsidian-orange {
    color: #ec7600;
}

.v-enter-active {
    transition: all .3s ease;
}
.v-leave-active {
    transition: all .3s ease;
}
.v-enter, .v-leave-to {
    opacity: 0;
}